.headerlayout{
	background-color:#0000ff;
	height:60px;
}
#top{
	color:#ffffff;
	
}
#mainhead{
	margin-left:20px;
	
	
}
#maintable{
	margin-left:20px;
	text-align:left;
	
	
	
}
footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:grey;
   color: white;
   
    
}

#true{
	font-size:30px;
	color:#ffffff;
	margin-top:20px;
	padding-left:20px;
	
	
}
#destroyer{
    float:right;
    margin-top: 20px;
    margin-right: 20px;
    padding-right:40px;
    
}
	
	
}

	
#logo{
	top-margin:20px;
	padding-left:30px;
	
	
}
.newHope{
	margin-left:30px;
	padding-top:15px;
	
}
.newHope1{
	margin-left:0px;
	padding-top:15px;
	
}
.hydra
{margin-left:20px;
padding-top:20px;
	
	
}